node_modules
model/
__pycache__
.next
propserver.
.venv
nextstepsofproj.txt
build

# Environment variables
.env
venv38



# Config files (removing the config file approach)
src/config.js
procommconfig.conf

#logs
server.log
procommconfig.conf
copilot-instructions.md