run = "npm run start"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Start All"

[[workflows.workflow]]
name = "install"
mode = "sequential"
author = 34989412

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow]]
name = "Start API Server"
author = 34989412
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn procomapi:app --host 0.0.0.0 --port 5000 --reload"

[[workflows.workflow]]
name = "Start All"
author = 34989412
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000
