/* Global styles and my custom scrollbar */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: none;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, #root::-webkit-scrollbar{
    width: 8px;
    background: transparent;
    
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb{
    background: #fc6900ff;
    border-radius: 4px;
    transition: background 0.2s;
}

html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover, #root::-webkit-scrollbar-thumb:hover{
    background: #bd4108;
} 

/* Adjust layout for transcription and analysis */
.transcription-box {
    transition: transform 0.5s ease-in-out;
    transform: translateX(-20%);
}

.transcription-box.slide-left {
    transform: translateX(-100%);
}

.analysis-box {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    position: absolute;
    right: 10%; 
    top: 10%;
    width: 30%;
    max-height: 80%; 
    overflow-y: auto; 
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.analysis-box.show {
    transform: translateX(0);
    opacity: 1;
}


.page-container {
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.page-container.shift-left {
    transform: translateX(-20%);
}

/* Ensure the analysis results are fully visible and scrollable */
.analysis-results {
    position: fixed; 
    right: 0;
    top: 0;
    width: 25%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
    color: #fff;
    padding: 20px;
    overflow-y: auto; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* bit of a crude fix ik but hey it works */
}
