html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Set the background color to black */
}

.App {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.95);
    background-color: #000000; /* Ensure black background during fade-in */
}
.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}
.fade-exit {
    opacity: 1;
    transform: scale(1);
}
.fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
}